<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
    <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}
  {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
  {% else %}
    <meta content="{{ site.description }}" property="og:description">
  {% endif %}
    <meta content="https://jhonathanribeiro.netlify.app/" property="og:url">
  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
  {% endif %}
  <meta content="https://jhonathanribeiro.netlify.app/assets/img/{{ site.img-openGraph }}" property="og:image">
  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.data.links-social-media.twitter }}">
    <meta name="twitter:creator" content="@{{ site.data.links-social-media.twitter }}">
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.data.site.title }}">
  {% endif %}
  {% if page.url %}
    <meta name="twitter:url" content="https://jhonathanribeiro.netlify.app/">
  {% endif %}
  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
    <meta name="twitter:image:src" content="https://twitter.com/Jhonathanjbr/photo">

  <meta name="description" content="{% if page.description %}{{page.description}} - {{site.description}}{% else %}{{site.description}}{% endif %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <meta property="og:image" content="https://jhonathanribeiro.netlify.app/assets/img/{{ site.img-openGraph }}">

	<link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/img/favicon/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#263959">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#263959">
	<!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#263959">
  <!-- meta tag HREFLANG -->
  <link rel="alternate" hreflang="pt" href="https://jhonathanribeiro.netlify.app">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Lato:300,400,700&display=swap" rel="stylesheet">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<!-- Styles -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

  <script src="/assets/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/bioep.min.js"></script>
  <script type="text/javascript">
    bioEp.init({
      html: '<div id="bio_ep_content">' +
        '<img class="img-popup" src="/assets/img/offer.jpeg" alt="{{site.title}}" />' +
        '<span>Não vá embora ainda...👇</span>' +
        '<span>Conheça o nossa loja, são diversos produtos com</span>' +
         '<span>Ofertas imperdíveis</span>' +
        '<a href="https://johnwebstore.netlify.app" target="_blank" class="bio_btn">CLIQUE AQUI</a>' +
        '</div>',
      css: '#bio_ep {width: 400px; height: 325px!important; color: #333; background-color: #fafafa; text-align: center;}' +
        '#bio_ep_content {padding: 0 5px; font-family: "Titillium Web";}' +
        '.img-popup{width: 230px!important;}' +
        '#bio_ep_content span:nth-child(2) {display: block; color: #f21b1b; font-size: 32px; font-weight: 600;}' +
        '#bio_ep_content span:nth-child(3) {display: block; font-size: 16px;}' +
        '#bio_ep_content span:nth-child(4) {display: block; margin: 4px; font-size: 16px; font-weight: 600;}' +
        '.bio_btn {display: inline-block; margin: 18px 0 0 0; padding: 7px; color: #fff; font-size: 14px; font-weight: 600; background-color: #70bb39; border: 1px solid #47ad0b; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; border-radius: 0; text-decoration: none;}' +
         '.bio_btn:hover{color:white;text-decoration:none;background-color:#70bb39cf;border:1px solid #70bb39cf;}',
      fonts: ['//fonts.googleapis.com/css?family=Titillium+Web:300,400,600'],
      cookieExp: 0,
      delay: 2

    });
  </script>

  <!-- SCHEMA -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Blog Jhonathan Ribeiro",
    "url": "https://jhonathanribeiro.netlify.app",
    "sameAs" : [
      "https://twitter.com/Jhonathanjbr",
      "https://www.facebook.com/Jhonathanjbr",
      "https://www.instagram.com/jhonathan.rb/?hl=pt-br",
      "https://www.linkedin.com/in/jhonathan-ribeiro/"
   ],
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://jhonathanribeiro.netlify.app{search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>
</head>
