<!-- Magazine Luiza - Wikshop -->
<section class="mt-5 mb-5">
    <h2 class="title">Ofertas:</h2>
    <div class="row">
        <div class="col-md-6">
            <div data-mvc-banner="leaderboard"></div>
            <script
                type="text/javascript"> (function (storeName) { var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true; b.src = 'https://www.magazinevoce.com.br/js/banner.js?store=' + storeName; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(b, s); })('wikshop');</script>
        </div>
        <!--/col-d-6-->
    </div>
</section>