<section class="mt-5 mb-5">
    <h2 class="title">{{site.agency-title}}</h2>
    <div class="page-cover-image mb-3">
        <figure>
            <img class="page-image" src="/assets/img/website-agency-poster-responsive-layouts-crative-design.jpg"
                alt="{{page.description}}">
        </figure>
        <figcaption>CleanDesign, agência de webdesign.</figcaption>
    </div>
    <p>Ter um site é colocar sua empresa na internet. Construir estratégias para que a imagem da sua empresa seja
        agregada a um valor é <a href="{{site.url}}/a-importancia-de-um-site-em-pleno-2020/">presença online</a>. Um
        site projetado profissionalmente, é fundamental para aumentar as vendas, impulsionar os resultados e expandir
        seus negócios. Se você quer ser levado a sério como empresa, precisa levar a sério a tarefa de assumir negócios.
        Nada se conecta mais
        com seus clientes online do que seu próprio <a href="{{site.agency-link}}">site profissional</a>.
    </p>
    <h3>Quais as vantagens para uma empresa?</h3>
    <p>Está em dúvida se vale a pena investir na presença online da sua empresa? Veja as <a
            href="{{site.url}}/a-importancia-de-um-site-em-pleno-2020/">principais vantagens</a> dessa prática:</p>
    <ul>
        <li>Facilidade em ser encontrado por novos clientes;</li>
        <li>Aumento da credibilidade e reputação da empresa;</li>
        <li>Auxilia na fidelização dos clientes atuais;</li>
        <li>Divulgação dos trabalhos desenvolvidos;</li>
        <li>Crescimento da empresa pela valorização da marca;</li>
        <li>Desenvolvimento de ações de marketing a um custo mais baixo;</li>
        <li>Expansão da visibilidade da sua empresa para um público maior;</li>
        <li>Maior interação com seus clientes e, assim, melhor compreensão sobre seus perfis.</li>
    </ul>
    <p>Você sabia que a <a href="https://cleandesign.netlify.app/">CleanDesign</a> pode ajudar você e sua empresa a ter mais e melhores resultados com a internet? Clique no botão abaixo e conheça os nossos pacotes de Webdesign Premium, com tarifas únicas e sem mensalidades.</p>
    <div class="text-center">
        <a class="btn btn-success" href="{{site.agency-link}}" target="_blank">{{site.agency-txt}}</a>
    </div>
</section>