<div class="container">
  <nav class="pagination" role="pagination">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <label class="btn btn-bluegreen active">
          <a class="newer-posts" href="{{ site.baseurl }}/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          Previous
          </a>
        </label>
        {% else %}
        <a class="newer-posts" rel="prev" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/">
          <label class="btn btn-bluegreen active">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            Previous
          </label>
        </a>
        {% endif %}
      {% endif %}
      
    {% if paginator.next_page %}

    <a class="older-posts" rel="next" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/">
      <label class="btn btn-bluegreen">
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          Next
      </label>
    </a>
      
    {% endif %}
    </div>
  </nav>
</div>  
