---
layout: main
permalink: about.html
---
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="page-title font-weight-bold">Sobre mim</h1>
            <hr class="small">
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="about-text">
            <span class="fa fa-briefcase about-icon"></span>
            Trabalhou como desenvolvedor de sistemas e Analista de Testes (BITZ Softwares e VIASOFT Softwares Empresariais). Devido a situação crítica da família, involunariamente precisou deixar de lado os estudos para trabalhar, desde então passou por diversas empresas com e sem registro adquirindo experiência de vida e profissional.
        </p>
        <p class="about-text">
            <span class="fa fa-graduation-cap about-icon"></span>
            Estudante de Análise e desenvolvimento de sistemas na Universidade Norte do Paraná(UNOPAR).
        </p>
        <p class="about-text">
            <span class="fa fa-heart about-icon"></span>
            Escolhi essa área porque percebi o impacto positivo da tecnologia na vida das pessoas e que como Programador eu poderia fazer parte disso. Os benefícios que ela tem são inúmeros, tem o poder de nos aproximar de pessoas distantes, proporciona acesso a diversos          conteúdos e informações, na saúde, possibilitou uma melhor qualidade de vida as pessoas, na educação a tecnologia traz um maior conhecimento aos alunos com o ensino à distância, com ela é possível realizar pesquisas e vídeo chamadas para tratar de negócios de forma rápida, fácil e prática. Os avanços da tecnologia e da ciência, causaram impactos importantes na economia e nos negócios. Essas tendências determinam o ritmo do mercado de trabalho e como consequência, mudaram completamente o mundo. 
        </p>
        <p class="about-text">
        <span class="fa fa-file-text-o about-icon"></span>
            A página de projetos é um bom lugar para ver parte do meu trabalho. Alguns ainda estão incompletos pois dedico meu curto tempo livre para dar continuidade à eles. 
        </p>
        <p class="about-text">
            <span class="fa fa-globe about-icon"></span>
            Cresceu em Pato Branco, Paraná; <br/>
            - Nasceu em 1995;<br/>
            - De origem humilde, precisou trocar involuntariamente várias vezes a escola pelo trabalho; <br/>
            - Filho mais velho de 4 irmãos;<br>
            - Agnóstico quanto a Política, Religião e a Violência;<br>


        </p>
        <p>
            Cresceu em Tel Aviv, Israel ; mudou-se para Toronto, Canadá durante a minha adolescência; trabalhou em San Francisco
            após a graduação; cruzou a fronteira novamente para Vancouver, Canadá para a pós-graduação; passou muitos meses em
            outros países de mochila; retornou a Toronto em 2017.
        </p>
    </div>
</div>
<div class="container mb-5">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h4>Gosta do meu trabalho? Que tal me ajudar?</h4>
        <p class="about-text">
            Se você quiser mostrar seu apoio a qualquer um dos projetos de código aberto aos quais dedico meu tempo, aqui está um
            botão de Doação única do PayPal, no qual você pode clicar :) Você também pode optar por se tornar um patrocinador
            oficial do meu desenvolvimento a longo prazo de projetos de código aberto (me patrocinar vem com algumas vantagens
            adicionais para você ).

        </p>
    </div>
</div>
<div class="container mt-5">
    <!-- {% include needingwebsitesection.html %} -->
    {% include disqus.html %}
</div>
