---
layout: main
permalink: about.html
---
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="page-title font-weight-bold">Sobre mim</h1>
            <hr class="small">
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="about-text">
            <span class="fa fa-briefcase about-icon"></span>
            Atualmente é desenvolvedor web freelancer. Anteriormente, trabalhou como desenvolvedor de sistemas(BITZ Softwares e VIASOFT Softwares Empresariais).
        </p>
        <p class="about-text">
            <span class="fa fa-graduation-cap about-icon"></span>
        Estudante de Análise e desenvolvimento de sistemas na Universidade Norte do Paraná(UNOPAR).
        </p>
        <p class="about-text">
            <span class="fa fa-code about-icon"></span>
        Gosto de escrever ferramentas de software úteis e reutilizáveis para ajudar outras pessoas - confira meus projetos . Nos últimos anos, me tornei um experiente R useR e um especialista em R-Shiny.
        </p>
        <p class="about-text">
            <span class="fa fa-heart about-icon"></span>
            Gosto de escrever ferramentas de software úteis e reutilizáveis para ajudar outras pessoas - confira meus projetos .
            Nos
            últimos anos, me tornei um experiente R useR e um especialista em R-Shiny.
        </p>
        <p class="about-text">
        <span class="fa fa-file-text-o about-icon"></span>
        A página de projetos é um bom lugar para ver parte do meu trabalho, mas você também pode ver meu currículo (um tanto
        desatualizado) .
        </p>
        <p class="about-text">
            <span class="fa fa-globe about-icon"></span>
            Cresceu em Tel Aviv, Israel ; mudou-se para Toronto, Canadá durante a minha adolescência; trabalhou em San Francisco
            após a graduação; cruzou a fronteira novamente para Vancouver, Canadá para a pós-graduação; passou muitos meses em
            outros países de mochila; retornou a Toronto em 2017.
        </p>
        <p>
            Cresceu em Tel Aviv, Israel ; mudou-se para Toronto, Canadá durante a minha adolescência; trabalhou em San Francisco
            após a graduação; cruzou a fronteira novamente para Vancouver, Canadá para a pós-graduação; passou muitos meses em
            outros países de mochila; retornou a Toronto em 2017.
        </p>
    </div>
</div>
<div class="container mb-5">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h4>Gosta do meu trabalho? Que tal me ajudar?</h4>
        <p class="about-text">
            Se você quiser mostrar seu apoio a qualquer um dos projetos de código aberto aos quais dedico meu tempo, aqui está um
            botão de Doação única do PayPal, no qual você pode clicar :) Você também pode optar por se tornar um patrocinador
            oficial do meu desenvolvimento a longo prazo de projetos de código aberto (me patrocinar vem com algumas vantagens
            adicionais para você ).

        </p>
    </div>
</div>
<div class="container mt-5">
    <!-- {% include needingwebsitesection.html %} -->
    {% include disqus.html %}
</div>
