---
layout: default
---
<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.url}}/"><img src="{{site.url}}/assets/img/{% if site.data.author.author-img %}{{site.data.author.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.data.author.author}}</div>
      
      <div class="submit-line">
        <div id="search-container">
          <input class="search" type="text" id="search-input" placeholder="search..." >
          <input class="search" type="text" id="search-input" placeholder="search..."
          autocomplete="off" aria-autocomplete="off" style="display: none;" disabled="disabled">
          <button class="submit-lente" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      
      <p>{{site.data.author.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <!-- Navbar on sidebar -->
  <nav class="navigation">
    <ul>
      <li class="nav-link-pd-1"><a href="/">Blog</a></li>
      <li class="nav-link-pd-1"><a href="https://www.magazinevoce.com.br/magazinewikshop/" target="_blank">Shop</a></li>
      <li class="nav-link-pd-1"><a href="https://jhonathanribeiro.github.io/" target="_blank">Services</a></li>
      <li class="nav-link-pd-1"><a href="/about">About</a></li>
      <li class="nav-link-pd-1"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <footer>
    <section class="contact">
      <h3 class="contact-title">Social Media</h3>
      <ul>
        {% if site.twitter %}
          <li><a href="https://twitter.com/{{ site.data.links-social-media.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% else %}
          <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.facebook %}
          <li><a href="https://facebook.com/{{ site.data.links-social-media.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% else %}
          <li><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.github %}
          <li class="github"><a href="http://github.com/{{site.data.links-social-media.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% else %}
          <li class="github"><a href="http://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.data.links-social-media.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% else %}
          <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.instagram %}
          <li class="email"><a href="https://www.instagram.com/{{site.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
        {% else %}
          <li class="email"><a href="https://www.instagram.com/{{site.instagram}}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.data.author.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->

<div class="content-box clearfix">
  <!-- Section Newsletter on home page -->
  {% if page.url == "/" %}
  <section class="newsletter-section-box" style="color: #333!important;padding: 0 10px 50px;">
    <h2>Bora se inscrever na minha Newsletter?</h2>
    <p>Fique por dentro de todas as novidades do meu blog, receba conteúdo exclusivo, cupons de desconto,
      dicas e muito mais. Inscreva-se agora mesmo, clique no botão abaixo e informe seu melhor e-mail. 😊</p>
    <form class="signup-form form-inline justify-content-center pt-3" id="Form_login" method="POST"
      action="https://github.us18.list-manage.com/subscribe/post?u=267ca37c6e5348cd9abb7f3c0&amp;id=1aa891af16">
        <button type="submit" class="btn btn-bluegreen">Inscrever-se</button>
    </form>
    
  </section>
  {% endif%}
        <ul id="results"></ul>
  {{ content }}
</div>

<script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results'),
    searchResultTemplate: `
    <article class="post">
      <a class="post-thumbnail" style="background-image: url({img})" href="{url}"></a>
      <div class="post-content">
        <h2 class="post-title"><a href="{url}">{title}</a></h2>
        <p>{description}</p>
        <span class="post-date">{date}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
        <span class="post-words">{author}</span>
      </div>
    </article>
    `,
    json: '/search.json'
  });
  noResultsText("Nenhum post encontrado!");
</script>