---
layout: main
---
<article class="article-page col-md-10">
  <div class="page-content">
    <header class="header-page">
      <h1 class="page-title">{{page.title}}</h1>
      <div class="txt-inline">
        <div class="page-author"><span>{{page.author}}</span></div>
        <div class="page-date"><span>{{page.date | date: '%d de %b de %Y'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </div>
    </header>
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div>
    {% endif %}
    <div class="wrap-content">
      {{content | markdownify}}
      {% include needingwebsitesection.html %}
      {% include earnsection.html %}
      {% include recentarticles.html %}
      {% include fontsusedsection.html %}
      {% include socialmediasharelinks.html %}
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
